.profile{
    width: 50vw;
    border: 8px solid;
    text-align: center;
    margin: 0 auto;
}
.raspuns{
    font-size: 1.875em;
    
}
.scris{
    font-size: 1.875em;
    padding-right: 2vh;
}
.titlu{
    letter-spacing: 6px;
    font-size: 3.875em;
    text-justify: auto;
}
.buton_logout{
    padding-left: 25vh;
}
.butoane{
    margin-top: 5vh;
}